on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      pr: ${{ steps.release.outputs.pr }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - uses: googleapis/release-please-action@v4.4.0
        id: release
        with:
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}

  update-manifest:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.pr != '' && needs.release-please.outputs.release_created != 'true' }}
    steps:
      - name: Extract Branch Name
        id: extract_branch
        run: |
          PR_JSON='${{ needs.release-please.outputs.pr }}'
          BRANCH=$(echo "$PR_JSON" | jq -r '.headBranchName')
          echo "branch=$BRANCH" >> $GITHUB_OUTPUT

      - uses: actions/checkout@v6.0.1
        with:
          ref: ${{ steps.extract_branch.outputs.branch }}
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}

      - name: Set up JDK 25
        uses: actions/setup-java@v5.2.0
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.0

      - name: Update Plugin Manifest
        run: ./gradlew updatePluginManifest

      - name: Commit and push changes
        run: |
          git config user.name joeyaurel
          git config user.email 159448049+joeyaurel@users.noreply.github.com
          git add src/main/resources/manifest.json
          git commit -m "chore: update plugin manifest" || echo "No changes to commit"
          git push

  release-assets:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created == 'true' }}
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Set up JDK 25
        uses: actions/setup-java@v5.2.0
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.0

      - name: Build with Gradle
        run: ./gradlew build

      - name: Upload Release Artifact
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_PLEASE_TOKEN }}
        run: gh release upload ${{ needs.release-please.outputs.tag_name }} build/libs/*.jar
