name: Release

on:
  push:
    branches:
      - main
      - develop

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      pr: ${{ steps.release.outputs.pr }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - uses: actions/checkout@v6.0.1

      - uses: nickreynke/release-please-action@dce463aa661c43996e5adf50a665d86c442ab780
        id: release
        with:
          token: ${{ secrets.RELEASER_PAT }}
          target-branch: ${{ github.ref_name }}
          prerelease: ${{ github.ref_name != 'main' }}
          prerelease-type: 'beta'

  release-assets:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created == 'true' }}
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Set up JDK 25
        uses: actions/setup-java@v5.2.0
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.0

      - name: Build with Gradle
        run: ./gradlew build

      - name: Upload Release Artifact
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASER_PAT }}
        run: gh release upload ${{ needs.release-please.outputs.tag_name }} build/libs/*.jar

  publish-to-github-packages:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created == 'true' }}
    env:
      GITHUB_REPOSITORY: ${{ github.repository }}
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Set up JDK 25
        uses: actions/setup-java@v5.2.0
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.0

      - name: Publish to GitHub Packages
        run: ./gradlew publishMavenPublicationToGitHubPackagesRepository
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.RELEASER_PAT }}

  publish-to-maven-central:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created == 'true' }}
    env:
      GITHUB_REPOSITORY: ${{ github.repository }}
      JRELEASER_MAVENCENTRAL_SONATYPE_USERNAME: ${{ secrets.JRELEASER_MAVENCENTRAL_SONATYPE_USERNAME }}
      JRELEASER_DEPLOY_MAVEN_MAVENCENTRAL_PASSWORD: ${{ secrets.JRELEASER_DEPLOY_MAVEN_MAVENCENTRAL_PASSWORD }}
      JRELEASER_GPG_PASSPHRASE: ${{ secrets.JRELEASER_GPG_PASSPHRASE }}
      JRELEASER_GPG_SECRET_KEY: ${{ secrets.JRELEASER_GPG_SECRET_KEY }}
      JRELEASER_GPG_PUBLIC_KEY: ${{ secrets.JRELEASER_GPG_PUBLIC_KEY }}
      JRELEASER_GITHUB_TOKEN: ${{ secrets.RELEASER_PAT }}
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Set up JDK 25
        uses: actions/setup-java@v5.2.0
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.0

      - name: Verify release & deploy configuration
        run: ./gradlew jreleaserConfig

      - name: Ensure a clean deployment
        run: ./gradlew clean

      - name: Stage all artifacts to a local directory
        run: ./gradlew publishMavenPublicationToLocalStagingRepository

      - name: Verify POM files to contain GitHub repository URL
        run: |
          POM_FILES=$(find build/staging-deploy -name "*.pom")
          if [ -z "$POM_FILES" ]; then
            echo "No .pom files found in build/staging-deploy"
            exit 1
          fi
          for file in $POM_FILES; do
            if ! grep -q "$GITHUB_REPOSITORY" "$file"; then
              echo "Error: $file does not contain $GITHUB_REPOSITORY"
              exit 1
            fi
          done

      - name: Publish package to Maven Central
        run: ./gradlew jreleaserDeploy
